// Layout sizes
// --------------------------------------------------

$main-desktop                   : 1160px;
$main-desktop-large             : 1400px;

$content-desktop                : 900px;
$content-desktop-large          : 1100px;
$content-desktop-padding        : 40px;

$sidebar-desktop                : 240px;

$footer-height                  : 50px;

$gap-between-main-and-footer    : 100px;